/* 

section{
    display: flex; /* Use flexbox for layout */
justify-content: space-between;
/* Space evenly between items */
align-items: flex-start;
/* Align items at the start */
}
body{
    background-color:bisque;
}


header {
    padding: 10px;
    background-color: aqua;
    color: beige;
    text-align: center;
}

.mb-3 {
    margin-top: 50px;
    color: cadetblue;
    /* border: 1px solid cadetblue; */
    width: 50%;


}

/* here i am going to delete the border and width after adjusting the card border-right-style: ;
} */
#Input1 {
    width: 16em;
    margin-bottom: 10px;


}

.btn {
    width: 16em;
    margin-bottom: 10px;
    background-color: cadetblue;
}

hr {
    width: 16em;
}

.currentresult {
    border: 1px solid black;
    display: flex;
    width: fit-content;
    height: 10em;
    width: 40em;
    /* margin-left: 40rem; */
    margin-bottom: 30em;

}

main {
    display: flex;
}

.btn-block {
    width: 25%;
}

.searchpage {
   
    width: 42%;
    height: 100%;
    justify-items: ;
    padding-top: 0%;
    padding-left: 20px;
}

h3 {
   
    width: 10em;
}

.dashboard {
    margin-bottom: 50px;
    width: 100%;
    height: 60px;
    align-items: baseline;
    background-color: cadetblue;
    border: 0 1px solid cadetblue;
    color: beige;
  
}

section {
    display: flex;
}



.card {
    margin-left: 2em;
    margin-top: 50px;
}

h4 {
    border: 1px, solid black;
    height: fit-content;
    width: 240px;

}

.forcastcards {
    display: flex;
    flex-wrap: wrap;

}

.forcastcard1 {
    padding: 10px;
    border: 0.5px solid grey;
    width: 15em;
    margin: 10px;
    height: fit-content;
}

.forcastcard2 {
    padding: 10px;
    border: 0.5px solid grey;
    width: 15em;
    margin: 10px;
    height: fit-content;
}

.forcastcard3 {
    padding: 10px;
    border: 0.5px solid grey;
    width: 15em;
    margin: 10px;
    height: fit-content;
}

.forcastcard4 {
    padding: 10px;
    border: 0.5px solid grey;
    width: 15em;
    margin-top: 15em;
    margin: 10px;

    height: fit-content;
}

.forcastcard5 {
    padding: 10px;
    border: 0.5px solid grey;
    width: 15em;
    margin-top: 15em;
    margin: 10px;
    height: fit-content;
}

.days {
    margin-left: 18em;
    display: flex;
}
.forcastcards{
    flex-wrap: wrap;
}