/* The body style will be used for whole background picture display */
body {
background-image: url("./assets/Background.png");
}

.mb-3 {
    margin-top: 50px;
    color: beige;
    width: 50%;
}

#Input1 {
    width: 16em;
    margin-bottom: 10px;
    color: grey;
}

.btn {
    width: 16em;
    margin-bottom: 10px;
    background-color: lightskyblue;
    color: snow;
}

hr {
    width: 16em;
}

.btn-block {
    width: 25%;
}

.searchpage {

    width: 42%;
    height: 100%;
    padding-top: 0%;
    padding-left: 20px;
}

h3 {
    width: 10em;
}
/* I used light colors that much most of the weather app */
.dashboard {
    color: beige;
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: lightskyblue;
    border: 0.5px, solid, lightskyblue;
    box-shadow: 20px;
   
}

section.form-section {
    display: flex;
}

h4 {
    height: fit-content;
    width: 240px;
    color: beige;
}
/* Style that used to style the appended elements and html */
.forcastcards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.forcastcard {
    color: beige;
    padding: 10px;
    border: 1px solid grey;
    width: 15em;
    height: fit-content;
}


.days {
    margin-left: 20em;
}

.search-history-item>button {
    border: 1px solid beige;
    border-radius: 0.25rem;
    color: grey;
    height: 30px;
    display: block;
    margin: 5px;
    width: 16em;
}

h5 {
    width: 16em;
    padding: 5px;
}

#weather-result {
    border: 1px solid beige;
    color:grey;
    width: 100em;
    height: fit-content;
    margin-top: 17em;
    margin-right: 40em;
    padding: 5px;
}